.project{
    width: 600px;
    height: 1660px;
    border: 3px solid  whitesmoke;
    border-radius: 30px;
    margin-left: 440px;
    background-color: whitesmoke;
    text-align: center;
}
.nan{
    width: 500px;
    height: 300px;
    background-color: transparent;
    margin-top: 30px;
    border-radius: 30px;
}
.num{
    margin-right: 250px;
}
.para{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}
.col{
     width: 550px;
    height: 200px;
    border: 3px solid  whitesmoke;
    border-radius: 30px;
    background-color: rgb(252, 228, 250);
    margin-left: 25px;
}
.time{
    color: rgb(141, 44, 121);
    margin-right: 350px;
}
.un{
    margin-right: 240px;
}
.an{
   margin-right: 300px;
}
.bn{
    margin-right: 320px;
}
.he{
    color: rgb(132, 12, 12);
    margin-right: 420px;
}
.a{
  margin-right: 440px;
}
.b{
   margin-right: 452px;
}
.c{
   margin-right: 430px;
}
.d{
   margin-right: 350px;
}
hr{
    width: 550px;
}
.f{
  margin-right: 50px;
}
.s{
   margin-right: 105px;
}
.t{
    margin-right: 75px;
}
.fo{
    margin-right: 125px; 
}
.fi{
    margin-right: 105px;
}
ul{
    list-style: inside;
}
.tab{
    margin-left: 25px;
}
td{
    border-bottom: 1px solid gray;
}
table{
    width: 500px;
    margin-left: 50px;
}
.bro{
    color: rgb(132, 12, 12);
}
ul li::marker{
    color: brown;
}